/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
app/Packages/StabilityAI/
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
app/Jobs/JustTest.php
app/Console/Commands/Test.php
__pycache__/
