@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Avenir Light";
    src: url("/public/fonts/avenir-light.ttf") format("truetype");
    font-weight: thin;
    font-style: normal;
}

@font-face {
    font-family: "Avenir Regular";
    src: url("/public/fonts/avenir-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Avenir Black";
    src: url("/public/fonts/avenir-black.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

select,
input,
textarea {
    -webkit-appearance: none !important; /* Safari and Chrome */
    -moz-appearance: none !important; /* Firefox */
    appearance: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.accordion-header {
    border-bottom: 1px solid #e5e7eb;
    border-bottom-right-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
}
.accordion-header.active {
    border-bottom: none !important;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.accordion-content {
    border-top: none !important;
}

@layer components {
    .loader {
        border-top-color: #3498db;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader {
    animation: spin 2s linear infinite;
}
